{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "plugins": [
      "standard",
      "promise",
      "react"
  ],
  "rules": {
      "no-tabs": "off",        
      "indent": ["error", "tab", {"SwitchCase": 1}],
      "no-console": "warn",
      "no-var": "error",      
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
      "react/jsx-space-before-closing": "error"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}